.containerAuth {
  height: 65px;
  width: 100vw;
  position: fixed;
  z-index: 100;
  background-color: #0a8323;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 140px;
  overflow: hidden;
}
.container {
  height: 96px;
  width: 100vw;
  // position: fixed;
  // z-index: 100;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 140px;
  overflow: hidden;
}

.phoneNumber{
    font-size: 30px;
    font-weight: 600;
    color: white;
}
.lang {
    font-size: 16px;
    color: rgba(255,255,255,0.5);
}
.desc {
  font-size: 20px;
    // color: rgba(255,255,255,0.5);
}
.menu {
  width: 100vw;
  height: 42px;
  background-color: #0c9728;
  display: flex;
  justify-content: space-around;
  color: white;
  text-transform: uppercase;

  & div {
    width: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;

    &:last-child{
      border-right: none;
    }
    & > a {
      width: 100%;
      text-align: center;
    }
  }

  & div:hover {
    background-color: #078720;
  }
}

.logoutBtn {
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  background-color: transparent;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  background-color: rgb(222, 222, 222);

  &:hover {
    background-color: rgb(222, 222, 222);
  }

}