html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
  scroll-behavior: smooth !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  overflow-x: hidden;
}
body {
      font-family: sans-serif;
    }

table {
  border-collapse: collapse;
  border-color: black;
  border-width: 1px;
  width: 100%;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f0f0f0;
}

* {
  box-sizing: border-box;
  font-family: "InterRegular", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
button:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  color: black;
}

@-webkit-keyframes autofill {
  0%,
  100% {
    color: #666;
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #000000 !important;
}

.link:hover {
  text-decoration: underline !important;
}
.container {
  max-width: 100vw;
  margin: 0 auto;
}
.main-container {
  position: relative;
  margin: 138px auto 0;
  padding: 0;
  // padding: 24px 0 0 0;
  width: 80%;

//   &.open {
//     padding: 24px 24px 0 24px;
//     margin: 56px 0 0 16.66%;
//     width: 83.33%;
//   }
//   &.auth {
//     padding: 0;
//     margin: 0;
//     width: 100%;
//   }
}
// .label {
//   font-size: 14px;
//   line-height: 17px;
//   letter-spacing: 0em;
//   text-align: left;
// }
// .error {
//   font-size: 12px;
//   line-height: 14px;
//   color: red;
//   padding: 5px 0 0 10px;
// }
// .password > span {
//   position: absolute;
//   display: inline-block;
//   width: 17px;
//   height: 15px;
//   background-image: url("../assets/images/icons/eye-hidden.png");
//   background-repeat: no-repeat;
//   // background-size: cover;
//   position: absolute;
//   top: 50%;
//   right: 20px;
//   transform: translate(0, 0);
// }
// .login-page {
//   display: flex;
//   padding: 20px 0;
//   align-items: center;
//   justify-content: center;
//   min-height: 100vh;
//   background-color: white;
// }
// .sidebar {
//   margin-top: 56px;
//   transition: all 3s linear;
//   position: fixed;
//   z-index: 100;
// }
// .img-flip {
//   transform: scaleY(-1);
// }
// .search-page {
//   padding-left: 24px;
//   padding-right: 109px;
// }
// .channel-background {
//   width: calc(100% + 48px);
//   height: 192px;
//   margin: -24px -24px 24px -24px;
// }
// .gray-background {
//   background-color: #f5f5f5;
//   border-radius: 30px;
// }
// .comment-section {
//   position: relative;
//   & > img {
//     position: absolute;
//     top: 8px;
//     left: 8px;
//   }
//   & > button {
//     position: absolute;
//     top: 8px;
//     right: 8px;
//   }
//   & > input {
//     padding: 17px 112px 17px 60px;
//   }
// }