.wrapper {
    position: relative;
}
.rowWrapper {
    cursor: pointer;
    &:hover {
        background-color: rgb(233, 233, 233);
    }
}

.modalWrapper {
    padding: 50px;
    width: 80vw;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0px;
    background-color: rgb(236, 236, 236);
}
.appDetailTable {
    border-collapse: collapse;
    width: 100%;
}
.btnWrapper {
    margin-right:20px;
    padding: 5px 25px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: green;

    &:last-child{
        margin-right: 0;
    }

    &:hover {
        background-color: rgb(1, 102, 1);
    }
}
.closeBtn{
    position: absolute;
    right: 0px;
    top: 0px;
    border: none; /* Remove default button border */
    background: none; /* Remove default button background */
    cursor: pointer; /* Add pointer cursor to make it look clickable */
    padding: 0;
}

.old_value{
    display: inline-block;
    opacity: 0.7;
    font-style: italic;
    text-decoration: line-through;
    padding: 5px;
    margin-right: 20px;
}

.new_value{
    display: inline-block;
    padding: 5px; /* Optional: Add padding for better appearance */
    margin-left: 20px;
}

.tr{
    border-bottom: 1px solid #000;
}

.emptylist{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
