.fullname {
    color: #06691a;
}
.name {
    color: #06691a;
    padding-bottom: 20px;
    padding-left: 28px;
}
.infoWrapper {
    flex-grow: 1;
    padding-left: 50px;
    padding-top: 50px;
}
// .infoList {

// }
.infoDetail {
    list-style: none;
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 10px;

    &:last-child {
        padding-bottom: 0px;
    }

    & > span {
        font-weight: 700;
    }
}
.photoWrapper {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    flex-direction: column;
    padding-top: 50px;
}